<!DOCTYPE html>
<html>
  <head>
    <title>Body Mind Heart | Cindy Jamieson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id='root' class='main'>
      <div id='menu' class='menu'>
        <div class='menu'>
          <p id='menu-btn' class='menu' data-status='closed'>menu</p>
        </div>
      </div>
        <%= yield %>
    </div>
  </body>
</html>
