<!DOCTYPE html>
<html>
  <head>
    <title>Body Mind Heart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='menu'>
      <div id='menu-btn' data-status='closed'>
        <p>menu</p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
